plugins:
  lastfm:
    api_key: ''
    secret: ''
    session_user: 'your_username'
    session_key: ''
  weather:
    key: ''
    location: 'SG/Singapore'
  movies:
    url: 'http://www.google.com.sg/movies?near=serangoon&tid=fb8ae472ecc03387'
twitter:
  consumer_key: ''
  consumer_secret: ''
  token: ''
  secret: ''
  username: 'your_username'
